html
body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
      Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #c1d72e;
    color: white;
    text-align: center;
    height: 100%;
    font-size: 18px;
  }